Port 22422
PermitRootLogin no
PermitEmptyPasswords no
PasswordAuthentication yes

Match User sshuser
    ForceCommand /usr/local/bin/run-app.sh
    AllowTcpForwarding no
    X11Forwarding no
    PermitTTY yes
